
<!-- <% const name = 'Aswin'%> -->
<nav>
    <div class="site-title">
        <!-- <p><%= name %></p> -->
        <a href="/"><h1>Blog Creator</h1></a>
        <p>My site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>